h3{
    margin-top: 0%;
    text-align: center;
}
.title {
    font-size: 10px;
}

.title-long {
    font-size: 7px;
    margin-top: 2%;
}

.moviedetail-title {
    font-size: 40px;
    margin-bottom: 28px;
}